---
import { contentfulClient } from '../lib/contentful';
import MainLayout from '../layouts/MainLayout.astro';
import ImageHeader from '../components/ImageHeader.astro';
import Subteam from '../components/About/Subteam.astro';
import YearSelector from '../components/About/YearSelector.astro';
import Roster from '../components/About/Roster.astro';

interface Subteams {
  fields: {
    subteamTitle: string;
    subteamDescription: string;
    subteamImage: {
      fields: {
        file: {
          url: string;
        };
      };
    };
    subteamImageAltText: string;
    order: number;
  };
  contentTypeId: string;
}
interface AboutUs {
  fields: {
    title: string;
    paragraph: string;
    image: {
      fields: {
        file: {
          url: string;
        };
      };
    };
    order: number;
    fadeDirection: string;
  };
  contentTypeId: string;
}

const aboutUsResponse = await contentfulClient.getEntries<AboutUs>({
  content_type: 'whoAreWe',
  //@ts-ignore
  order: '-fields.order',
});

const subteamResponse = await contentfulClient.getEntries<Subteams>({
  content_type: 'subteam',
  //@ts-ignore
  order: '-fields.order',
});
---

<MainLayout title="Knight Owls - About Us">
  <ImageHeader />
  <div class="content">
    <a id="whoarewe"></a>
    <div class="about-us">
      <!-- Map the about us response to the page -->
      {
        aboutUsResponse.items.map((item) => {
          return (
            <div
              class="aboutusItem"
              data-aos={`fade-${item.fields.fadeDirection}`}
            >
              <img
                src={`${item.fields.image.fields.file.url}?fm=jpg&fl=progressive`}
                alt={item.fields.title}
              />
              <h3>{item.fields.title}</h3>
              <p>{item.fields.paragraph}</p>
            </div>
          );
        })
      }
    </div>
    <a id="teams"></a>
    <div class="subteams" data-aos="zoom-in ">
      <h3>Our Subteams</h3>
      <p>
        Our sub-teams are groups of students that focus on different aspects of
        the robot and team operations. They include our Business, Programming,
        Manufacturing, Design, and the Web Design and Media Teams.
      </p>
    </div>
    <div class="teams">
      {
        subteamResponse.items.map((item) => {
          return (
            <Subteam
              name={item.fields.subteamTitle}
              image={`${item.fields.subteamImage.fields.file.url}?fm=jpg&fl=progressive`}
              alt={item.fields.subteamImageAltText}
              description={item.fields.subteamDescription}
              fadeDirection="left"
            />
          );
        })
      }
    </div>
    <h3 id="people" class="our-team" data-aos="zoom-in" data-aos-once="true">
      Our Members
    </h3>
    <YearSelector />
    <Roster />
  </div>
  <style>
    .content {
      line-height: 2;
    }
    .about-us {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: start;
      margin-top: 10%;
      gap: 50px;
      width: fit-content;
      color: black;
      text-align: left;
      width: fit-content;
      margin-right: 50px;
    }
    .aboutusItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .aboutusItem img {
      height: 25vw;
      width: auto;
      border-radius: 10px;
      margin-left: 15px;
    }
    .aboutusItem p {
      padding-right: 15px;
      padding-left: 15px;
      font-size: 20px;
      text-align: center;
    }
    .aboutusItem h3 {
      padding-right: 15px;
      padding-left: 15px;
      font-size: 32px;
      text-decoration: underline;
      text-decoration-color: var(--blue);
    }
    .subteams {
      text-align: center;
      margin-top: 10%;
    }
    .subteams h3 {
      font-size: 32px;
      text-decoration: underline;
      text-decoration-color: var(--blue);
    }
    .subteams p {
      font-size: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .teams {
      display: grid;
      grid-template-columns: auto;
      row-gap: 30px;
      align-items: center;
      justify-content: center;
      color: black;
      margin-top: 7%;
      width: auto;
    }
    .our-team {
      display: block;
      text-align: center;
      font-size: 50px;
      margin-top: 8%;
      margin-bottom: 0;
      text-decoration: underline;
      text-decoration-color: var(--blue);
    }
  </style>
</MainLayout>
