---
import { contentfulClient } from '../lib/contentful';

import MainLayout from '../layouts/MainLayout.astro';
import GalleryAlbumLayout from '../layouts/GalleryAlbumLayout.astro';
import ImageHeader from '../components/ImageHeader.astro';
import AlbumCover from '../components/Gallery/AlbumCover.astro';

interface GalleryCover {
  fields: {
    title: string;
    date: string;
    year: number;
    image: {
      fields: {
        file: {
          url: string;
        };
      };
    };
    link: string;
    order: number;
  };
  contentTypeId: string;
}

const galleryCoverResponse = await contentfulClient.getEntries<GalleryCover>({
  content_type: 'galleryCover',
  //@ts-ignore
  order: '-fields.order',
});

//print the url of the image
---

<MainLayout title="Knight Owls - Gallery">
  <ImageHeader />
  <h3>2023 Gallery</h3>
  <GalleryAlbumLayout columns="3">
    {
      galleryCoverResponse.items
        .filter((item) => item.fields.year === 2023)
        .map((item) => (
          <AlbumCover
            event={item.fields.title}
            date={item.fields.date}
            image={`${item.fields.image.fields.file.url}?fm=jpg&fl=progressive`}
            link={item.fields.link}
          />
        ))
    }
  </GalleryAlbumLayout>
  <h3>2022 Gallery</h3>
  <GalleryAlbumLayout columns="3">
    {
      galleryCoverResponse.items
        .filter((item) => item.fields.year === 2022)
        .map((item) => (
          <AlbumCover
            event={item.fields.title}
            date={item.fields.date}
            image={`${item.fields.image.fields.file.url}?fm=jpg&fl=progressive`}
            link={item.fields.link}
          />
        ))
    }
  </GalleryAlbumLayout>
</MainLayout>
<style>
  h3 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--blue);
  }
</style>
