---
import { contentfulClient } from '../lib/contentful';

import MainLayout from '../layouts/MainLayout.astro';
import AutoImageHeader from '../components/AutoImageHeader.astro';
import Wooshie from '../components/Wooshie.astro';

interface Wooshie {
  fields: {
    title: string;
    description: string;
    image: {
      fields: {
        file: {
          url: any;
        };
      };
    };
    imageAltText: string;
    buttonText: string;
    buttonLink: string;
    fadeDirection: string;
    order: number;
  };
  contentTypeId: string;
}

const aboutUsResponse = await contentfulClient.getEntries<Wooshie>({
  content_type: 'wooshies',
  //@ts-ignore
  order: '-fields.order',
});
---

<MainLayout title="Knight Owls - Home">
  <AutoImageHeader title="Knight Owls" subtitle="FIRST Robotics Team 8884" />
  <div class="wooshies">
    {
      aboutUsResponse.items.map((wooshie) => (
        <Wooshie
          fadeDirection={wooshie.fields.fadeDirection}
          title={wooshie.fields.title}
          subtitle={wooshie.fields.description}
          image={`${wooshie.fields.image.fields.file.url}?fm=jpg&fl=progressive`}
          alt={wooshie.fields.imageAltText}
          buttonLink={wooshie.fields.buttonLink}
          buttonText={wooshie.fields.buttonText}
        />
      ))
    }
  </div>
</MainLayout>
<style>
  .wooshies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
</style>
