---
import { contentfulClient } from '../lib/contentful';

import MainLayout from '../layouts/MainLayout.astro';
import ImageHeader from '../components/ImageHeader.astro';
import SponsorshipTier from '../components/Sponsorship/SponsorshipTier.astro';

interface Tiers {
  fields: {
    tier: string;
    amount: string;
    colour: string;
    perks: string[];
    buttonText: string;
    buttonLink: string;
    order: number;
  };
  contentTypeId: string;
}

const tiersResponse = await contentfulClient.getEntries<Tiers>({
  content_type: 'sponsorshipTiers',
  //@ts-ignore
  order: '-fields.order',
});
---

<MainLayout title="Knight Owls - Sponsorship Tiers">
  <ImageHeader
    title="Sponsorship Tiers"
    background="/images/headers/tiers.webp"
  />
  <div class="tiers" id="listing">
    {
      tiersResponse.items.map((item) => (
        <SponsorshipTier
          tier={item.fields.tier}
          amount={item.fields.amount}
          colour={item.fields.colour}
          things={item.fields.perks}
          buttonText={item.fields.buttonText}
          buttonLink={item.fields.buttonLink}
        />
      ))
    }
    <div data-aos="zoom-in" data-aos-offset="70" class="logoinfo">
      <p>
        *The higher the tier you choose to donate with the larger and more
        prominently your logo will be on our robot
      </p>
    </div>
  </div>
  <style>
    .tiers {
      display: grid;
      grid-template-columns: 22vw 22vw 22vw 22vw;
      justify-content: center;
      margin-top: 25px;
      text-align: center;
      grid-gap: 30px;
    }
    .logoinfo {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  </style>
</MainLayout>
