---
import { Picture } from 'astro-imagetools/components';
const {
  fadeDirection = 'left',
  title,
  subtitle,
  image,
  alt,
  buttonLink,
  buttonText,
} = Astro.props;
---

<div class="woosh" data-aos={'fade-' + fadeDirection}>
  <div class="wooshgroup">
    <h2>{title}</h2>
    <p>{subtitle}</p>
    <a href={buttonLink}>{buttonText}</a>
  </div>
  <div class="wooshgroup">
    <!-- <div class="wooshimage">
      <Picture src={image} alt={alt} width={600} />
    </div> -->
    <img src={image} alt={alt} />
  </div>
  <style>
    img {
      width: 600px;
      height: auto;
      padding: 15px;
      border-radius: 30px;
    }
    p {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 10%;
      width: 300px;
    }
    a {
      text-decoration: none;
      color: white;
      background-color: var(--onyx);
      margin-top: 30px;
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 12px;
      padding-bottom: 12px;
      border-radius: 10px;
      transition-duration: 200ms;
      border: 3px solid var(--onyx);
    }
    a:hover {
      transition-duration: 200ms;
      background-color: transparent;
      color: var(--vividblue);
      border: 3px solid var(--vividblue);
    }
    .wooshgroup {
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
    }
    .wooshgroup h2 {
      color: var(--vividblue);
    }
    .woosh {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;
      width: 75vw;
    }
  </style>
</div>
