---
import Person from '../Person.astro';

import ExecTitle from '../../../components/About/TeamByYear/Titles/ExecTitle.astro';
import ManufacturingTitle from '../../../components/About/TeamByYear/Titles/ManufacturingTitle.astro';
import DesignTitle from '../../../components/About/TeamByYear/Titles/DesignTitle.astro';
import ProgrammingTitle from './Titles/ProgrammingTitle.astro';
import SocialTitle from '../../../components/About/TeamByYear/Titles/SocialTitle.astro';
import StaffTitle from './Titles/StaffTitle.astro';

const { year, classes, filename } = Astro.props;
const TeamToMap = (await import(`./Years/${filename}.json`)).default;
---

<div
  class:list={[classes, 'people data']}
  id={year}
  data-aos="zoom-in"
  data-aos-once="true"
>
  <ExecTitle />
  {
    TeamToMap.map(
      (member: {
        role: string;
        name: string;
        title: string;
        image: string;
      }) => {
        if (member.role == 'exec') {
          return (
            <Person
              name={member.name}
              title={member.title}
              image={member.image}
              image={member.image}
            />
          );
        }
      }
    )
  }
  <ManufacturingTitle />
  {
    TeamToMap.map(
      (member: {
        role: string;
        name: string;
        title: string;
        image: string;
      }) => {
        if (member.role == 'manufacturing') {
          return (
            <Person
              name={member.name}
              title={member.title}
              image={member.image}
            />
          );
        }
      }
    )
  }
  <DesignTitle />
  {
    TeamToMap.map(
      (member: {
        role: string;
        name: string;
        title: string;
        image: string;
      }) => {
        if (member.role == 'design') {
          return (
            <Person
              name={member.name}
              title={member.title}
              image={member.image}
            />
          );
        }
      }
    )
  }
  <ProgrammingTitle />
  {
    TeamToMap.map(
      (member: {
        role: string;
        name: string;
        title: string;
        image: string;
      }) => {
        if (member.role == 'programming') {
          return (
            <Person
              name={member.name}
              title={member.title}
              image={member.image}
            />
          );
        }
      }
    )
  }
  <SocialTitle />
  {
    TeamToMap.map(
      (member: {
        role: string;
        name: string;
        title: string;
        image: string;
      }) => {
        if (member.role == 'social') {
          return (
            <Person
              name={member.name}
              title={member.title}
              image={member.image}
            />
          );
        }
      }
    )
  }
  <StaffTitle />
  {
    TeamToMap.map(
      (member: {
        role: string;
        name: string;
        title: string;
        image: string;
      }) => {
        if (member.role == 'staff') {
          return (
            <Person
              name={member.name}
              title={member.title}
              image={member.image}
            />
          );
        }
      }
    )
  }
</div>
<style>
  .people {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    column-gap: 70px;
    row-gap: 75px;
  }
  .showDefault {
    display: flex !important;
  }
  .our-team {
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 8%;
  }
  h3 {
    text-decoration: underline;
    text-decoration-color: var(--blue);
  }
</style>
